@use "../../../styles/var.scss" as varible;

.button {
  background-color: varible.$color--ui;
  color: varible.$color--title;
  font-family: varible.$font--lato;
  font-size: varible.$size--text;
  border-radius: varible.$size--border-radius;  
  cursor: pointer;
  border: none;
  outline: none;
  width: 135px;
  height: 25px;
  transition: all 0.4s;

  &:hover {
    background-color: varible.$color--btn-hover;
    color: varible.$color--title;
  }

  &:active {
    border: 3px solid varible.$color--secondary;
    transition: all 10s;
  }
}

.active {
  background-color: varible.$color--primary !important;
  color: varible.$color--background !important;
}

.textButton{
  background-color: rgba(28, 28, 28, 0) !important;
  font-size: 12px;
  color: varible.$color--ui;
  height: auto !important;
  width: auto !important;
  padding: 0 2px;

  &:active {
    border: none !important;
    color: varible.$color--ui;
    transition: all 0.4s !important;
  }
}

.textButtunActive{
  color: varible.$color--primary;
}