@use "../../styles/var.scss" as varible;

.leaderboard {
  width: 100%;
  display: grid;
  grid-column-gap: 25px;
  grid-template-columns: 1fr 1fr;
  .table {
    .title {
      font-weight: 600;
      font-size: 25px;
      line-height: 38px;
      color: varible.$color--secondary;
    }
  }
}
