.layout {
  padding: 30px 0;
  display: grid;
  min-height: 100vh;
  grid-template-columns: auto 214px minmax(300px, 700px) 100px auto;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    ". header header config ."
    ". body body body ."
    ". footer footer footer .";
  gap: 40px 30px;
  .header {
    display: flex;
    grid-area: header;
  }
  .config{
    grid-area: config;
  }
  .body {
    grid-area: body;
    display: flex;
    justify-content: center;
  }
  .footer {
    grid-area: footer;
  }
}
