@use "../../styles/var.scss" as varible;

.footer {
  display: flex;
  .wrapper {
    display: flex;
    cursor: pointer;
    color: varible.$color--ui;
    transition: all 0.4s;
    font-size: 14px;
    margin-right: 15px;

    .logo {
      width: 20px;
      height: 20px;
      margin: 0 5px;
    }

    &:hover {
      color: varible.$color--secondary;
    }

    &:active {
      color: varible.$color--ui;
    }
  }
}
