@use "./var" as varible;

html,
body {
  background-color: varible.$color--background;
  padding: 0;
  margin: 0;
  font-family:
    varible.$font--lato,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-type: none;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: varible.$color--primary;
  border-radius: 2px !important;
}

::-webkit-scrollbar-corner {
  background: 0 0;
}