@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;700&display=swap');
$color--title: #FFFFFF;
$color--primary: #40A3FF;
$color--secondary: #B3B3B3;
$color--ui: #494949;
$color--btn-hover: #373737;
$color--background: #1C1C1C;

$font--lato: Fira Code;

$size--text: 16px;
$size--border-radius: 4px;