@import "https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;700&display=swap";

$color--title: #fff;
$color--primary: #40a3ff;
$color--secondary: #b3b3b3;
$color--ui: #494949;
$color--btn-hover: #373737;
$color--background: #1c1c1c;
$font--lato: fira code;
$size--text: 16px;
$size--border-radius: 4px;
